.control {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	color: #035c94;
}

.control :global(.pt-icon[data-icon="play"]) {
	margin-left: 3px;
}

.control:hover {
	background: #e9eaeb;
}

@media only screen and (max-width:33.75em) {
	.volume {
		display: none;
	}
}
