.container {
	border-radius: 0;
}

.container:first-child {
	border-radius: 3px 3px 0 0;
}

.container:last-child {
	border-radius: 0 0 3px 3px;
}

.container:hover {
	z-index: 999;
	border-radius: 3px;
}

.container:hover .control {
	background: #e9eaeb;
}

.control {
	width: 34px;
	height: 34px;
	padding: 5px;
	margin-right: 10px;
	border-radius: 50%;
	user-select: none;
	color: #035c94;
}

.control[data-icon="play"] {
	padding: 0 2px 0 6px;
}
